body {
  background-color: #ff0778;
}

.cabeçalho {
  display: flex;
  width: 100%;
  height: 42px;
  background-color: white;
}

.imagem_cabeçalho {
  width: 150px;
  margin-left: 20px;
}

.texto_cabeçalho {
  color: #f11075;
  margin: 4% 0% 0% 25%;
  font-weight: bold;
}

@media (min-width: 800px) {
}
