body {
  background-color: #ff0778;
}

/* Cabeçalho (até Linha 23) */

.cabeçalho {
  display: flex;
  width: 100%;
  height: 42px;
  background-color: white;
}

.imagem_cabeçalho {
  width: 150px;
  margin-left: 20px;
}

.texto_cabeçalho {
  color: #f11075;
  margin: 4% 0% 0% 25%;
  font-weight: bold;
}

/* Conteiner1 (Titulo "Viagens" e Texto "Sem taxas" */

.conteiner1 {
  color: #fff;
  text-align: left;
  margin: 20px;
  font-size: 12px;
  font-weight: bold;
  /* margin-left: 20px; */
  font-weight: bold;
}

.titulo_conteiner1 {
  display: inline;
}

.texto_conteiner1 {
  font-size: 17.5px;
  margin: 10px 0px 10px 0px;
  font-weight: 500;
}

/* Conteiner2 (Buscador) */

.conteiner2 {
  background-color: #fff;
  margin: 20px;
  border-radius: 4px;
  width: 250px;
  height: 300px;
  padding: 15px;
}

.quadrado {
  border-width: 1px;
  border-style: solid;
  border-color: #949494;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  margin-bottom: 12px;
  font-size: 15px;
  color: #949494;
}

.fa-exchange-alt:before {
  color: #2f2fec;
  transform: rotate(50deg);
}

.rodar {
  transform: rotate(90deg);
}

.texto1_buscadores_conteiner2 {
  margin: 0px 28px 0px 15px;
  color: black;
}

.texto2_buscadores_conteiner2 {
  margin: 0px 28px 0px 15px;
  color: #949494;
}

.texto3_buscadores_conteiner2 {
  margin: 0px 28px 0px 15px;
  color: #fff;
}

.buscar_conteiner2 {
  /* text-align: center; */
  color: #fff;
  background-color: #f11075;
  border-width: 1px;
  border-color: #949494;
  border-radius: 5px;
}
.lupa_conteiner2 {
  color: #fff;
  margin-left: 70px;
}

.footer_conteiner {
  background-color: #fff;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 160px;
}

.itens_footer_conteiner {
  text-align: center;
  flex-direction: column;
  color: #949494;
}
