body {
  background-color: pink;
}

.cabeçalho {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: white;
}

.imagem_cabeçalho {
  margin-left: 10px;
  margin-top: 9px;
  height: 30px;
}

.texto_cabeçalho {
  color: rgb(255, 86, 114);
  margin-top: 15px;
  margin-left: 100px;
  font-weight: 700;
}
